/* extra small device */
@media (max-width: 280px) {
}

/* sm devices */
@media (min-width: 281px) and (max-width: 480px) {
  /* global css */
  .side-text .square {
    position: absolute;
    top: -15%;
    left: 0;
    z-index: 0;
    width: 30%;
  }
  .side-text h2 {
    color: #191d23;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 32px 60px;
    position: relative;
    z-index: 1;
  }
  .side-text p {
    width: 100%;
    color: #191d23;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 0 40px 60px;
    position: relative;
    z-index: 1;
  }
  /* ****** */
  /* header section */
  /* nav */

  /* banner */
  .header .banner .inner-banner .banner-text {
    padding: 0 0 150px;
  }
  .header .banner .banner-text .bar h1 {
    font-size: 38px;
    margin: 80px 0 0px 80px;
  }
  .header .banner .banner-text p {
    width: 70%;
    font-size: 13px;
    margin: 40px 0 0 84px;
  }

  /* inspiration section */
  .inspiration .inner-inspiration .inspiration-text {
    padding: 72px 0 0 60px;
  }
  .inspiration .inner-inspiration .inspiration-text h2 {
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px 0 24px;
  }
  .inspiration .inner-inspiration .inspiration-text p {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 0 40px;
  }
  .inspiration .inner-inspiration .inspiration-btn {
    padding: 0 0 0 0px;
    text-align: center;
  }
  /* design section */

  .design .inner-design .design-img {
    text-align: right;
    padding: 80px 0 0;
  }
  /* virtual section */
  .virtual .inner-virtual .side-text {
    position: relative;
    top: 50%;
    left: 0;
  }
  /* testimonial section */
  .testimonial .inner-testimonial .side-text {
    position: relative;
    top: 5%;
    left: 0;
  }
  .testimonial .inner-testimonial .t-review .r-text {
    color: #fff;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
  }
  .testimonial .inner-testimonial .t-review .r-name {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
  }
  /* contact section */
  .contact .inner-contact {
    background: #d9d9d9;
    padding: 12px;
  }
  .contact .inner-contact .contact-text h2 {
    color: #191d23;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 24px;
  }
  .contact .inner-contact .contact-text p {
    color: #191d23;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin: 0 0 24px;
  }
  /* download section */
  .download .inner-download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  .download .inner-download h3 {
    color: #191d23;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
  }
  /* footer section */
  .footer .inner-footer .f-info {
    color: #191d23;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin: 0 0 40px;
  }
  .footer .inner-footer .social-links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .footer .inner-footer .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    padding: 40px 0;
  }
}

/* md device */
@media (min-width: 481px) and (max-width: 767px) {
}

/* lg device */
@media (min-width: 768px) and (max-width: 992px) {
}
